.home-page {
	.text {
		position: absolute;

		left: 20%;
		top: 50%;
		transform: translateY(-50%);
		width: 40%;
		max-height: 90%;
	}

	h1 {
		color: white;
		font-size: 55px;
		margin: 0;
		font-family: "Coolvetica";
		font-weight: 200;
		letter-spacing: 2px;
	}

	h2 {
		color: #8d8d8d;
		margin-top: 20px;
		font-weight: 400;
		font-size: 18px;
		color: lightgray;
		font-family: sans-serif;
		animation: fadeIn 1s 1.8s backwards;
		letter-spacing: 1pxk;

		a {
			color: lightgray;
			text-decoration: underline;
		}
	}

	.button {
		float: left;

		color: #ffd700;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 5px;
		font-family: sans-serif;
		text-decoration: none;

		padding: 10px 18px;
		margin-top: 25px;
		border: 1px solid #ffd700;

		animation: fadeIn 1s 2.8s backwards;
		white-space: nowrap;

		&:hover {
			background-color: #ffd700;
			color: #333;
		}
	}
}
